* {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

#start {
  color: white;
  background-color: rgb(14, 91, 207);
  font-size: 40px;
  padding: 10px;
  margin: 300px;
  border: 2px solid white;
  text-align: center;
}

#p {
  display: none;
  color: white;
  font-size: 40px;
  padding: 10px;
  margin: 300px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
